[data-component='Dialer'] {
	background-color: #eee;



	> .userchip-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;


	}

	> form.uri-form {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top: 20px;


		&.hidden {
			display: none;
		}

		> .uri-container {
			flex: 10 10 auto;
			margin-right: 20px;


		}
	}
}
